* {
    font-family: "JetBrainsMono Nerd Font";
    font-weight: 600;
    font-size: 13px;
    border: 5px;
    border-radius: 5px;
}

window#waybar {
    background: unset;
}

tooltip {
    background-color: #1d2021;
    border: 2px solid #7c6f64;
}

#window {
    border-radius: 5px;
    padding-left: 12px;
    padding-right: 12px;
    background-color: #303536;
    border: 2px solid #434a4c;
    /* color: #d4be98; */
    color: white;
}

/* make window module transparent when no windows present */
window#waybar.empty #window {
    background-color: transparent;
    border: none;
}

#clock,
#tray,
#cpu,
#memory,
#custom-nightmode,
#window,
#custom-power,
#misc {
    margin: 6px 6px 6px 0px;
    padding: 2px 8px;
}

#workspaces {
    margin: 7px 0px 7px 3px;
}

#workspaces button.active {
    background: #ddc7a1;
    color: #313244;
    margin-left: 0px;
    padding-left: 12px;
    padding-right: 12px;
    margin-right: 0px;
    animation: ws_active 20s ease-in-out 1;
    transition: all 0.4s cubic-bezier(.55, -0.68, .48, 1.682);
    border-radius: 5px;
    border: 1px solid #c7ab7a;
}

#workspaces button {
    all: initial;
    min-width: 0;
    box-shadow: inset 0 -3px transparent;
    padding: 2px 4px;
    /* color: #c7ab7a; */
    color: white;
}

#workspaces button.urgent {
    background-color: #e78a4e;
    border: 1px solid #c7ab7a;
}

#clock {
    background-color: #303536;
    border: 2px solid #434a4c;
    margin-left: 7px;
    /* color: #d4be98; */
    color: white;
}

#tray {
    background-color: #303536;
    border: 2px solid #434a4c;
    /* color: #d4be98; */
    color: white;

}

#battery {
    padding: 0 5px 0 5px;
    /* color: #6c782e; */
    color: white
}

#network,
#pulseaudio,
#bluetooth,
#custom-search,
#backlight,
#custom-nightmode,
#custom-notify {
    padding: 0 6px 0 6px;
    margin: 0 2px 0 2px;
    color: white;
    /* font-size: 15px; */
}


#battery.warning,
#battery.critical,
#battery.urgent {
    color: #c14a4a;
}

#custom-power {
    padding-right: 10px;
    background: #ddc7a1;
    border: 2px solid #434a4c;
    color: #1d2021;
    /* font-size: 15px; */
}

#misc {
    border: 2px solid #434a4c;
    background-color: #303536;
}